// Border Radius
// =======================================================
@mixin appearance($appearance) {
    -webkit-appearance: $appearance;
       -moz-appearance: $appearance;
        -ms-appearance: $appearance;
            appearance: $appearance;
}

// backface-visibility

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}

// Background images
// =======================================================


$path--rel      : "../images";


@mixin background-image($img, $background-position, $background-size) {
   background-image: url('#{$path--rel}/#{$img}');
   background-repeat: no-repeat;
   background-position: $background-position;
   background-size: $background-size;
}

// Border Radius
// =======================================================
@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

// Box shadow
// =======================================================
@mixin box-shadow($box-shadow...) {
    -webkit-box-shadow: $box-shadow;
       -moz-box-shadow: $box-shadow;
        -ms-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
}

// =====================================
// center vertically
// =====================================
@mixin align($vertical: true, $horizontal: false, $position: relative) {
	@if $position {
		position: $position;
	}
	@if $vertical {
		top: 50%;
	}
	@if $horizontal {
		left: 50%;
	}
	@if $vertical and $horizontal {
		transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
	} @else if $vertical {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	} @else {
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}
}

// Colors Used
$black-color: (
   "base": #000000,
);

$white-color: (
   "base": #ffffff,
);

$orange-color: (
   "base": #DC5028,
);

$midnight-color: (
   "base": #252734,
);

$green-color: (
   "base": #1E4141,
);

$blush-color: (
   "base": #FAF0E6,
);

$lightmint-color: (
   "base": #E6EFEE,
);

$softgrey-color: (
   "base": #F9F9F9,
);


// List of the colors
$color-list: (
   "black-color": $black-color,
   "white-color": $white-color,
   "orange-color": $orange-color,
   "midnight-color": $midnight-color,
   "green-color": $green-color,
   "blush-color": $blush-color,
   "lightmint-color": $lightmint-color,
   "softgrey-color": $softgrey-color,
);

// Function
@each $color_name, $color in $color-list {
   @each $color_type, $color_value in $color {

      @if $color_type == "base" {
         .#{$color_name}-bg {
            background-color: $color_value !important;
         }
         .#{$color_name} {
            color: $color_value !important;
         }
      }

      @else {
         .#{$color_name}-#{$color_type}-bg {
            background-color: $color_value !important;
         }
         .#{$color_name}-#{$color_type} {
            color: $color_value !important;
         }
      }

   }
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function colour($colour, $type) {
   @if map-has-key($color-list, $colour) {
      $curr_colour: map-get($color-list, $colour);
      @if map-has-key($curr_colour, $type) {
         @return map-get($curr_colour, $type);
      }
   }
   @warn "Unknown `#{name}` in $color-list.";
   @return null;
}


/*--------------------------------
	Flex Section
*/
@mixin flex($display:false, $align-items:false, $flex-direction:false, $justify-content:false, $align-content:false, $flex:false) {
    @if $display {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    @if $flex-direction {
        -webkit-flex-direction:  $flex-direction;
        -ms-flex-direction:  $flex-direction;
        flex-direction: $flex-direction;
    }
    @if $align-items {
        align-items: $align-items;
    }
    @if $justify-content {
        justify-content: $justify-content;
    }
    @if $align-content {
        align-content: $align-content;
    }
    @if $flex {
        -webkit-flex: $flex;
        -ms-flex: $flex;
        flex: $flex;
    }
}

// // Fonts
// // =======================================================

// fontSize
@mixin fontSize($n){
   font-size: #{$n / $base-fs}rem
}

// How to include font sizes
// @include fontSize(26);

//Convert px to rem
@function Rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: #{$size}px;
    font-size: Rem($size);
}


// keyframes
// =======================================================
@mixin keyframes($name) {
    // chrome and safari
    @-webkit-keyframes #{$name} {
        @content;
    }

    // mozilla
    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

// position
// =======================================================
@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);
        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
            #{$o}: nth($args, $i + 1);
        }
    }
    position: $position;
}

// position properties
@mixin absolute($args: '') {
    @include position(absolute, $args);
}

@mixin fixed($args: '') {
    @include position(fixed, $args);
}

@mixin relative($args: '') {
    @include position(relative, $args);
}

// ================================
// size
// ================================

@mixin size($size-width, $size-height) {
    width: $size-width;
    height: $size-height;
    position: relative;
}

// transform
// =======================================================
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      -ms-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin transform($transforms...) {
    -webkit-transform: $transforms;
	   -moz-transform: $transforms;
	    -ms-transform: $transforms;
            transform: $transforms;
}

// ===================
// Rotate
// ===================
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin rotateX($deg) {
  @include transform(rotateX(#{$deg}deg));
}

@mixin rotateY($deg) {
  @include transform(rotateY(#{$deg}deg));
}

@mixin rotateZ($deg) {
  @include transform(rotateZ(#{$deg}deg));
}


// ===================
// Scale
// ===================
@mixin scale($scale) {
	 @include transform(scale($scale));
}

@mixin scaleX($scale) {
	 @include transform(scaleX($scale));
}

@mixin scaleY($scale) {
	 @include transform(scaleY($scale));
}

@mixin scaleZ($scale) {
	 @include transform(scaleZ($scale));
}

// ===================
// Translate
// ===================
@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}

@mixin translateX($x) {
   @include transform(translateX($x));
}

@mixin translateY($y) {
   @include transform(translateY($y));
}


// ===================
// Skew
// ===================
@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin skewX($x) {
   @include transform(skewX(#{$x}deg));
}

@mixin skewY($y) {
   @include transform(skewY(#{$y}deg));
}

// transition
// =======================================================
@mixin transition($transitions...) {
    -webkit-transition: $transitions;
       -moz-transition: $transitions;
        -ms-transition: $transitions;
            transition: $transitions;
}


// transition-property
@mixin transition-property($transition-property...) {
    -webkit-transition-property: $transition-property;
       -moz-transition-property: $transition-property;
        -ms-transition-property: $transition-property;
            transition-property: $transition-property;
}

// transition-property
@mixin transition-duration($transition-duration...) {
    -webkit-transition-duration: $transition-duration;
       -moz-transition-duration: $transition-duration;
        -ms-transition-duration: $transition-duration;
            transition-duration: $transition-duration;
}

// transition-property
@mixin transition-timing-function($transition-timing-function...) {
    -webkit-transition-timing-function: $transition-timing-function;
       -moz-transition-timing-function: $transition-timing-function;
        -ms-transition-timing-function: $transition-timing-function;
            transition-timing-function: $transition-timing-function;
}

// transition-property
@mixin transition-delay($transition-delay...) {
    -webkit-transition-delay: $transition-delay;
       -moz-transition-delay: $transition-delay;
        -ms-transition-delay: $transition-delay;
            transition-delay: $transition-delay;
}
