// Margin
@for $count from 0 through 100 {
    // MARGIN
    .m-#{$count} {
        margin: #{$count}px;
    }

    .m-#{$count}-imp {
        margin: #{$count}px !important;
    }

    .mt-#{$count} {
        margin-top: $count + px;
    }

    .mt-#{$count}-imp {
        margin-top: $count + px !important;
    }

    .mr-#{$count} {
        margin-right: $count + px;
    }

    .mr-#{$count}-imp {
        margin-right: $count + px !important;
    }

    .mb-#{$count} {
        margin-bottom: $count + px;
    }

    .mb-#{$count}-imp {
        margin-bottom: $count + px !important;
    }

    .ml-#{$count} {
        margin-left: $count + px;
    }

    .ml-#{$count}-imp {
        margin-left: $count + px !important;
    }

    // PADDING
    .p-#{$count} {
        padding: #{$count}px;
    }

    .p-#{$count}-imp {
        padding: #{$count}px !important;
    }

    .pt-#{$count} {
        padding-top: $count + px;
    }

    .pt-#{$count}-imp {
        padding-top: $count + px !important;
    }

    .pr-#{$count} {
        padding-right: $count + px;
    }

    .pr-#{$count}-imp {
        padding-right: $count + px !important;
    }

    .pb-#{$count} {
        padding-bottom: $count + px;
    }

    .pb-#{$count}-imp {
        padding-bottom: $count + px !important;
    }

    .pl-#{$count} {
        padding-left: $count + px;
    }

    .pl-#{$count}-imp {
        padding-left: $count + px !important;
    }
}
