// ==========================================================================
// variables
// ==========================================================================

// ==========================================================================
// color default
// ==========================================================================
$color-black                        : #000000 !default;
$color-light-black                  : #0b0c0e !default;
$color-white                        : #ffffff !default;
$color-offwhite                     : #cdcdcf !default;
$color-orange                       : #db5b27 !default;
$color-midorange                    : #f1592a !default;
$color-dark-orange                  : #ef4036 !default;
$color-midnight                     : #231f20 !default;
$color-grey                         : #414042 !default;
$color-light-grey                   : #6c6c6e !default;
$color-dim-grey                     : #58585a !default;
$color-silver                       : #bcbdc0 !default;
$color-blue                         : #777bf8 !default;
$color-sky-blue                     : #68d4f8 !default;
// ==========================================================================
// base color
// ==========================================================================
