/*
* Base font awesome.
*/

.fal {
  font-weight: 300;
}
.far {
  font-weight: 400;
}
.fa,
.fas {
  font-weight: 900;
}
.fa,
.fal,
.far,
.fas,
.fab {
  font-family: $font-awesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fab {
  font-family: $font-awesome-brand;
}
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.fa-xs {
  font-size: 0.75em;
}
.fa-sm {
  font-size: 0.875em;
}
.fa-1x {
  font-size: 1em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-6x {
  font-size: 6em;
}
.fa-7x {
  font-size: 7em;
}
.fa-8x {
  font-size: 8em;
}
.fa-9x {
  font-size: 9em;
}
.fa-10x {
  font-size: 10em;
}
.fa-search:before {
  content: "\f002";
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-google-plus-g:before {
  content: "\f0d5";
}
.fa-minus:before {
    content: "\f068";
}
.fa-angle-left:before {
    content: "\f104";
}
.fa-angle-right:before {
    content: "\f105";
}
.fa-skype:before {
    content: "\f17e";
}
.fa-linkedin-in:before {
    content: "\f0e1";
}
.fa-caret-left:before {
    content: "\f0d9";
}
.fa-caret-right:before {
    content: "\f0da";
}
.fa-caret-down:before {
    content: "\f0d7";
}
.fa-long-arrow-alt-up:before {
    content: "\f30c";
}
.fa-quote-left:before {
  content: "\f10d";
}
