

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt Lt';
  src: url('../fonts/ProximaNovaA-Semibold.eot');
  src: url('../fonts/ProximaNovaA-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNovaA-Semibold.woff2') format('woff2'),
      url('../fonts/ProximaNovaA-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Black.woff2') format('woff2'),
      url('../fonts/ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

// Font Proxima variables
$font-Proxima: 'Proxima Nova Bl';
$font-Proxima-Semi-Bold: 'Proxima Nova Alt Lt';

// Font myriad pro variables
$font-myriad: 'Myriad Pro';

/* ------- Font Awesome ------- */
/* -- Font Awesome Brands -- */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url('../fonts/FontAwesome5BrandsRegular.eot');
  src:
    url('../fonts/FontAwesome5BrandsRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome5BrandsRegular.woff2') format('woff2'),
    url('../fonts/FontAwesome5BrandsRegular.woff') format('woff'),
    url('../fonts/FontAwesome5BrandsRegular.ttf') format('truetype'),
    url('../fonts/FontAwesome5BrandsRegular.svg#FontAwesome5BrandsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -- Font Awesome Light -- */
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: url('../fonts/FontAwesome5ProLight.eot');
  src:
    url('../fonts/FontAwesome5ProLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome5ProLight.woff2') format('woff2'),
    url('../fonts/FontAwesome5ProLight.woff') format('woff'),
    url('../fonts/FontAwesome5ProLight.ttf') format('truetype'),
    url('../fonts/FontAwesome5ProLight.svg#FontAwesome5ProLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* -- Font Awesome Regular -- */
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: url('../fonts/FontAwesome5ProRegular.eot');
  src:
    url('../fonts/FontAwesome5ProRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome5ProRegular.woff2') format('woff2'),
    url('../fonts/FontAwesome5ProRegular.woff') format('woff'),
    url('../fonts/FontAwesome5ProRegular.ttf') format('truetype'),
    url('../fonts/FontAwesome5ProRegular.svg#FontAwesome5ProRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/* -- Font Awesome Solid -- */
@font-face {
  font-family: 'Font Awesome 5 Pro';
  src: url('../fonts/FontAwesome5ProSolid.eot');
  src:
    url('../fonts/FontAwesome5ProSolid.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome5ProSolid.woff2') format('woff2'),
    url('../fonts/FontAwesome5ProSolid.woff') format('woff'),
    url('../fonts/FontAwesome5ProSolid.ttf') format('truetype'),
    url('../fonts/FontAwesome5ProSolid.svg#FontAwesome5ProSolid') format('svg');
  font-weight: 900;
  font-style: normal;
}

// Font awesome variables
$font-awesome: 'Font Awesome 5 Pro';
$font-awesome-brand: 'Font Awesome 5 Brands';

@import "fontawesome";
